#content{
    padding-bottom:5%;
    height:auto;
}
.app{
   // background-color:rgba(63, 224, 60,0.5); //verde #3fe03c;
    background-color: #fff;
    opacity: 0.85;
    color:#222222;
    padding: 30px;
    margin: 0 auto;
    //width:60%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */

}
.editapp{
   // background-color:rgba(63, 224, 60,0.5); //verde #3fe03c;
    background-color: #fff;
    opacity: 0.85;
    color:#222222;
    padding: 30px;
    margin: 0 auto;
    width:60%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */

}
h2{
    color:#fff;
    font-size: 1.3em;
    text-align: center;
    //width:60%;
    //border-bottom: thin #0baa03 solid;
    margin: -30px -30px 10px -30px;
    padding: 10px;
    //text-transform:uppercase;
    
    background: #ff5186;
    background: -moz-linear-gradient(left, #ff5186 0%, #fcb653 35%, #c7f464 60%, #69d2e7 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff5186), color-stop(35%,#fcb653), color-stop(60%,#c7f464), color-stop(100%,#69d2e7));
    background: -webkit-linear-gradient(left, #ff5186 0%,#fcb653 35%,#c7f464 60%,#69d2e7 100%);
    text-shadow: 1px 1px rgba(0,0,0,0.7);
}
#healthlist{
    margin-bottom: 20px;
    width:70%;
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    
    //float:left;
}
.rainbowhead{
    //text-transform:uppercase;
    font-weight: 600;
    color:#FFF;
    width:70%;
    text-align: center;
    margin:0px auto;
    padding:20px 0;
    background: #ff5186; /* Old browsers */
    background: -moz-linear-gradient(left, #ff5186 0%, #fcb653 35%, #c7f464 60%, #69d2e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff5186), color-stop(35%,#fcb653), color-stop(60%,#c7f464), color-stop(100%,#69d2e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ff5186 0%,#fcb653 35%,#c7f464 60%,#69d2e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff5186 0%,#fcb653 35%,#c7f464 60%,#69d2e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ff5186 0%,#fcb653 35%,#c7f464 60%,#69d2e7 100%); /* IE10+ */
    background: linear-gradient(to right, #ff5186 0%,#fcb653 35%,#c7f464 60%,#69d2e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5186', endColorstr='#69d2e7',GradientType=1 ); /* IE6-9 */   
}
#healthlist p{
    //font-weight: 600;
    color: #666;
    line-height: 18px;
}

.floatL{
    //float:left;
}
.floatR{
    //float:right;
}

.doglist{
    padding:15px 0 0 20px;
    //float:left;
}
.doggeneral{
    float:left;
    width:60%;
    margin-bottom:15px;
}
.dogmedical{
    //margin-top:15px;
}
.fontbold{
    font-weight: 600;
    color:#FD5F8E;
}
.droplist{
    width:60%;
}
.textbox{
    width:160px;
    height:35px;
}
.textarea{
    width:160px;
    height:35px;
}
[class*="column"] + [class*="column"]:last-child {
float: none;
}
.fontblack{
    text-align: left;
}
textarea{
    color: black;
}
.green{
 background-color:#FF5485; 
 margin: 3px 0;
}
a.button:hover{
     background: #FB205E;
}

span.green1{
 color:#FF5485; 
}

button.small, .button.small{
     padding: 10px;
}
input[type="submit"]:hover {
    background-color:#FB205E;
}
textarea{
    resize: none;
}
